@import 'InputBox';
@import '../../var';

.react_searchbar_input_container {
  position: relative;
  box-sizing: border-box;
  input {
    text-align: center;
    color: $color-text-placeholder;
  }
}
