.slie_border {
  // border: 1px solid rgba(#fff, 0);
  box-sizing: border-box;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid #000;
    width: 200%;
    height: 200%;
    display: block;
    transform: scale(.5);
    transform-origin: 0 0;
    box-sizing: border-box;
    pointer-events: none;
  }
}
