html, body, #root {
  // 移动端没事就尽量避免height 100的设置，ios下滚动贼难受，原因暂不明
  font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial;
  background-color: #fff;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
}

.js-temp_overflow_hidden {
  overflow: hidden!important;
}
